<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login</title>

<link href="/css/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />

<script src="/js/jquery-3.3.1.min.js"
	th:src="@{/js/jquery-3.3.1.min.js}">
	
</script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">
				<h2>You are Logged Out</h2>
			</div>
		</div>
	</div>
</body>
</html>