<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Secured Content</title>

<link href="/css/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />

<script src="/js/jquery-3.3.1.min.js"
	th:src="@{/js/jquery-3.3.1.min.js}">
	
</script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

</head>
<body>

	<div class="container" style="height: 100vh;">
		<div class="row">
			<div class="col-md-12">
				<h1>Spring Security Demo</h1>
			</div>
		</div>
		<div class="row" sec:authorize="isAuthenticated()">
			<div class="col-md-10 col-md-offset-2">
				<h2 style="color: green">User is Logged In</h2> <!-- USER -->
			</div>
		</div>

		<div class="row" sec:authorize="!isAuthenticated()">
			<div class="col-md-10 col-md-offset-2">
				<h2 style="color: red">User is Logged Out</h2>	<!-- NOT AUTHENTIFICATED -->
			</div>
		</div>
		<div class="row" sec:authorize="hasRole('ROLE_ADMIN')"> <!-- ADMIN -->
			<div class="col-md-10 col-md-offset-2">
				<h2>User Has Role Admin</h2>
			</div>
		</div>

		<div class="row" sec:authorize="hasRole('ROLE_USER')"> <!-- USER -->
			<div class="col-md-10 col-md-offset-2">
				<h2>User Has Role User</h2>
			</div>
		</div>

	</div>
	<div class="container" th:replace="fragments/footer :: footer">
		<p>footer</p>
	</div>
</body>
</html>